<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Welcome page</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
                       
        <meta charset="utf-8" />
        
		<title>ADM - OSCAR</title>

		<meta name="description" content="Minimal empty page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
		<link href="assets/css/bootstrap-responsive.min.css" th:href="@{/assets/css/bootstrap-responsive.min.css}" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}"/>

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"th:href="@{/assets/css/font-awesome-ie7.min.css}" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--fonts-->

		<link rel="stylesheet" href="assets/css/ace-fonts.css" th:href="@{/assets/css/ace-fonts.css}"/>

		<!--ace styles-->

		<link rel="stylesheet" href="assets/css/ace.min.css" th:href="@{/assets/css/ace.min.css}"/>
		<link rel="stylesheet" href="assets/css/ace-responsive.min.css" th:href="@{/assets/css/ace-responsive.min.css}"/>
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" th:href="@{/assets/css/ace-skins.min.css}"/>

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" th:href="@{/assets/css/ace-ie.min.css}"/>
		<![endif]-->

		<!--inline styles related to this page-->
        
        
    </head>
    <body>
    
    <div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="icon-dashboard"></i>
							ADM - OSCAR
						</small>
					</a><!--/.brand-->

					<ul class="nav ace-nav pull-right">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">4</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-ok"></i>
									4 Tasks to complete
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">Task Name</span>
											<span class="pull-right">65%</span>
										</div>

										<div class="progress progress-mini">
											<div style="width:65%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										See tasks with details
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-warning-sign"></i>
									8 Notifications
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-pink icon-comment"></i>
												New Comments
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										See all notifications
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-envelope-alt"></i>
									5 Messages
								</li>

								<li>
									<a href="#">
										<img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												Message Summary
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>Message Time</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										See all messages
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									Jason
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										Settings
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a th:href="@{/logout}">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!--/.ace-nav-->
				</div><!--/.container-fluid-->
			</div><!--/.navbar-inner-->
		</div>

		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-small btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-small btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-small btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-small btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!--#sidebar-shortcuts-->

					<ul class="nav nav-list">
					
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-male"></i>
							<span class="menu-text"> Usuarios </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a  th:href="@{/user}">
									<i class="icon-double-angle-right"></i>
									Listar Senhas
								</a>
							</li>

							
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span class="menu-text"> DECRED </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a  th:href="@{/decredTotalEncargosAtrasoSintetico}">
									<i class="icon-double-angle-right"></i>
									Encargos de refinanciamento por Atraso Sintetico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredTotalEncargosAtrasoAnalitico}">
									<i class="icon-double-angle-right"></i>
									Encargos de refinanciamento por Atraso Analitico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredMultaSobreAtrasoSintetico}">
									<i class="icon-double-angle-right"></i>
									Multa Sobre Atraso Sintetico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredMultaSobreAtrasoAnalitico}">
									<i class="icon-double-angle-right"></i>
									Multa Sobre Atraso Analitico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredTaxaDeAdministracaoSintetico}">
									<i class="icon-double-angle-right"></i>
									Taxa de Administracao Sintetico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredTaxaDeAdministracaoAnalitico}">
									<i class="icon-double-angle-right"></i>
									Taxa de Administracao Analitico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredParcelaDeAnuidadeSintetico}">
									<i class="icon-double-angle-right"></i>
									Parcela de Anuidade Sintetico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredParcelaDeAnuidadeAnalitico}">
									<i class="icon-double-angle-right"></i>
									Parcela de Anuidade Analitico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredEncargosDeCobrancaPorDescontoSintetico}">
									<i class="icon-double-angle-right"></i>
									Encargos de Cobrança por Desconto Sintetico
								</a>
							</li>
							<li>
								<a  th:href="@{/decredEncargosDeCobrancaPorDescontoAnalitico}">
									<i class="icon-double-angle-right"></i>
									Encargos de Cobrança por Desconto Analitico
								</a>
							</li>

							
						</ul>
					</li>
				</ul><!--/.nav-list-->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>
			</div>
    			<div class="main-content">
    
				    <div class="page-content" >
   						<div class="row-fluid">
							<div class="span12"  layout:fragment="content">
							
							</div>
						</div>	
					</div><!--/.page-content-->
				
				</div>
    

    <!--basic scripts-->

		<!--[if !IE]>-->

		<script type="text/javascript">
		<!--window.jQuery || document.write("<script src='../assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");-->
		</script>
		
		<script src="../assets/js/jquery-2.0.3.min.js" th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>

		<!--<![endif]-->

		<!--[if IE]>
			<script type="text/javascript">
			 window.jQuery || document.write("<script src='../assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
			</script>
		<![endif]-->

		<script type="text/javascript">
		<!--if("ontouchend" in document) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");-->
 		</script>
		<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

		<!--page specific plugin scripts-->

		<!--ace scripts-->

		<script src="assets/js/ace-elements.min.js" th:src="@{/assets/js/ace-elements.min.js}"></script>
		<script src="assets/js/ace.min.js" th:src="@{/assets/js/ace.min.js}"></script>

		<!--inline scripts related to this page-->
		<div layout:fragment="scripts"></div>
		

    </body>
</html>