<!DOCTYPE html>
<html lang="pt" 
		xmlns:th="http://www.thymeleaf.org"  
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
        <title>ADM-OSCAR-KAMALEON</title>
</head>
<body>
	<!-- Any content you put in the div fragment below will appear on the page-->
	<div class="container" layout:fragment="content">
	
			<h3>
				Listar Premios Retirados no Fest Club
			</h3>            
			
            <fieldset>
                <div class="form-actions">
                <label for="dataInicial">Data Inicial:</label>
                <input type="text" class="dataFormatada" id="dataInicial" name="dataInicial"/>        
                <label for="dataFinal">Data Final:</label>
                <input type="text" class="dataFormatada" id="dataFinal" name="dataFinal"/>        
                    <button onClick="javascript:consulta()" class="btn">Filtrar</button>
                    <button onClick="javascript:xls()" class="btn">XLS</button>
                </div>
            </fieldset>	
			<table id="tabela" class="table table-striped table-bordered table-hover">
			  <thead>
			    <tr>
			      <th>Codigo Cliente</th>
			      <th>Nome</th>
			      <th>Cpf/Cnpj</th>	      	      
			      <th>Data Resgate</th>	      	      
			      <th>Produto</th>	      	      
			      <th>Quantidade</th>
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
				            
	
	<script type="text/javascript">
	
		function consulta()
		{
			
			$.ajax({		     
		    	url: "/adm-oscar/premiosRetiradosNoFestClub/json",				
		    	data: {dataInicial: $('#dataInicial').val(), dataFinal : $('#dataFinal').val()},				
		    	type: 'GET'		    	
			}).success(function(data){
				
				$("#tabela > tbody").empty();
				
				$.each( data, function( key, value ) {

					var conteudo = "<tr>";
					conteudo += "<td>"+value[0]+"</td>";
					conteudo += "<td>"+value[1]+"</td>";
					conteudo += "<td>"+value[2]+"</td>";
					conteudo += "<td>"+value[3].split("-")[2]+ "/"+ value[3].split("-")[1] + "/" + value[3].split("-")[0]+"</td>";
					conteudo += "<td>"+value[4]+"</td>";
					conteudo += "<td>"+value[5]+"</td>";
					conteudo += "</tr>";
					$("#tabela > tbody").append(conteudo);
					});
			})	
		}
		function xls()
		{
			$.ajax({		
				url: "/adm-oscar/premiosRetiradosNoFestClub/xls",				
		    	data: {codigoPromocao: $('#codigoPromocao').val()},					
		    	type: 'GET'		    	
			}).success(function(data){
				
				window.open(data,"XLS","width=800, height=600, directories=no, location=no, menubar=no, scrollbars=no,status=no,toolbar=no, resizable=no");
			})	
		}
		</script>
	
	</div>

</body>
</html>
