<!DOCTYPE html>
<html lang="pt" 
		xmlns:th="http://www.thymeleaf.org"  
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
        <title>ADM-OSCAR-KAMALEON</title>
</head>
<body>
	<!-- Any content you put in the div fragment below will appear on the page-->
	<div class="container" layout:fragment="content">
	
			<h3>
				Listar Vendas por CPF
			</h3>            
			
            <fieldset>
                <div class="form-actions">
                <label for="loja">Loja (Sigla):</label>
                <select id="loja" name="loja" th:field="*{listaEstabelecimento}">
				  <option value="">-</option> 
				  <option th:each="type : ${listaEstabelecimento}" 
				          th:value="${type[0]}" 
				          th:text="${type[1]}"></option>
				</select>
               <label for="dataInicial">Data Inicial:</label>
                <input type="text" class="dataFormatada" id="dataInicial" name="dataInicial"/>        
                <label for="dataFinal">Data Final:</label>
                <input type="text" class="dataFormatada" id="dataFinal" name="dataFinal"/> 
                    <button onClick="javascript:consulta()" class="btn">Filtrar</button>
                    <button onClick="javascript:xls()" class="btn">XLS</button>
                </div>
            </fieldset>	
			<table id="tabela" class="table table-striped table-bordered table-hover">
			  <thead>
			    <tr>
					<th>ID_LOJA</th>
					<th>NM_LOJA</th>
					<th>DS_SIGLA_LOJA</th>
					<th>DT_VENDA</th>
					<th>VL_VENDAS_CPF_ZERADO</th>
					<th>PC_VENDAS_CPF_ZERADO</th>
					<th>VL_VENDAS_OUTROS</th>
					<th>PC_VENDAS_OUTROS</th>
					<th>QT_VENDAS_CPF_ZERADO</th>
					<th>PC_QT_VENDAS_CPF_ZERADO</th>
					<th>QT_VENDAS_OUTROS</th>
					<th>PC_QT_VENDAS_OUTROS</th>    	      
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
				            
	<script src="assets/js/script.js" th:src="@{/assets/js/script.js}"></script>
	<script type="text/javascript">
	
		function consulta()
		{
			
			$.ajax({		     
		    	url: "/adm-oscar/listarVendasPorCPF/json",			
		    	data: {loja: $('#loja').val(), dataInicial: $('#dataInicial').val(), dataFinal: $('#dataFinal').val()},				
		    	type: 'GET'		    	
			}).success(function(data){
				
				$("#tabela > tbody").empty();
				
				$.each( data, function( key, value ) {

					var conteudo = "<tr>";
					conteudo += "<td>"+value[0]+"</td>";
					conteudo += "<td>"+value[1]+"</td>";
					conteudo += "<td>"+value[2]+"</td>";
					conteudo += "<td>"+formatarDataDDMMYYYY(value[3])+"</td>";
					conteudo += "<td>"+moeda(value[4], 2, ',' ,'.')+"</td>";
					conteudo += "<td>"+moeda(value[5], 2, ',' ,'.')+"</td>";
					conteudo += "<td>"+moeda(value[6], 2, ',' ,'.')+"</td>";
					conteudo += "<td>"+moeda(value[7], 2, ',' ,'.')+"</td>";
					conteudo += "<td>"+value[8]+"</td>";
					conteudo += "<td>"+moeda(value[9], 2, ',' ,'.')+"</td>";
					conteudo += "<td>"+value[10]+"</td>";
					conteudo += "<td>"+moeda(value[11], 2, ',' ,'.')+"</td>";
					conteudo += "</tr>";
					$("#tabela > tbody").append(conteudo);
					});
			})	
		}
		function xls()
		{
			$.ajax({		
				url: "/adm-oscar/listarVendasPorCPF/xls",				
		    	data: {loja: $('#loja').val(), dataInicial: $('#dataInicial').val(), dataFinal: $('#dataFinal').val()},				
		    	type: 'GET'		    	
			}).success(function(data){
				
				window.open(data,"XLS","width=800, height=600, directories=no, location=no, menubar=no, scrollbars=no,status=no,toolbar=no, resizable=no");
			})	
		}
		</script>
	
	</div>

</body>
</html>
