<!DOCTYPE html>
<html lang="pt" 
		xmlns:th="http://www.thymeleaf.org"  
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
        <title>ADM-OSCAR-KAMALEON</title>
</head>
<body>
	<!-- Any content you put in the div fragment below will appear on the page-->
	<div class="container" layout:fragment="content">
	
			<h3>
				DECRED - Total de encargos por atraso (Sintetico)
			</h3>            
			
            <fieldset>
                <div class="form-actions">
                <label for="dataInicial">Data Inicial:</label>
                <input type="text" id="dataInicial" name="dataFinal"/>        
                <br/>
                <label for="dataFinal">Data Final:</label>
                <input type="text" id="dataFinal" name="dataFinal"/>        
                    <button onClick="javascript:consulta()" class="btn">Filtrar</button>
                </div>
            </fieldset>	
			<table id="tabela" class="table table-striped table-bordered table-hover">
			  <thead>
			    <tr>
			      <th>Mes/Ano</th>
			      <th>Valor Total R$</th>
			      <th>Quantidade de registros</th>	      	      
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
				            
	<script type="text/javascript">
	
		function consulta()
		{
			
			$.ajax({		
		    	url: "http://localhost:8080/adm-oscar/decredTotalEncargosAtrasoSintetico/json",				
		    	data: {dataInicial : $('#dataInicial').val(), dataFinal: $('#dataFinal').val()},				
		    	type: 'GET'		    	
			}).success(function(data){
				
				$("#tabela > tbody").empty();
				
				$.each( data, function( key, value ) {

					var conteudo = "<tr>";
					conteudo += "<td>"+value[1]+"</td>"
					conteudo += "<td>"+value[2]+"</td>"
					conteudo += "<td>"+value[3]+"</td>"
					conteudo += "</tr>"
					$("#tabela > tbody").append(conteudo);
					});
				
				
			})	
			
		}
		</script>
	
	</div>

</body>
</html>